<ul>
    <li><img src="{{site.baseurl}}/img/file-word.svg" class="margin-right-05" width="16" valign="middle" alt=""><a href="{{site.baseurl}}/assets/files/downloads/acq/Acquisition_Planning_and_Solicitation.docx" target="_new">Acquisition Planning and Solicitation</a></li>
    <li><img src="{{site.baseurl}}/img/file-word.svg" class="margin-right-05" width="16" valign="middle" alt=""><a href="{{site.baseurl}}/assets/files/downloads/acq/Acquisition_Award.docx" target="_new">Acquisition Award</a></li>
    <li><img src="{{site.baseurl}}/img/file-word.svg" class="margin-right-05" width="16" valign="middle" alt=""><a href="{{site.baseurl}}/assets/files/downloads/acq/Acquisition_Post_Award.docx" target="_new">Acquisition Post-Award</a></li>
 </ul>